		body
		{
			color: #FFFFFF;
			background-color: black;
			background-size: cover;
			font-size: 40px;
			font-family: "rwby_style", "viner hand itc";
				
		}
	

		#turnos
		{
			margin-left: 69%;
			text-shadow: 3px 3px 8px black;	
		}

		#parejas
		{
			text-shadow: 3px 3px 8px black;
		}

		#r1
		{
			margin-left: 40%;
			text-shadow: 3px 3px 8px black;
			font-size: 100px;
		}

		#r2
		{
			margin-left: 110%;
			text-shadow: 3px 3px 8px black;
			font-size: 100px;
		}

		/* Tablas  */
		#pc	
		{
			width: 80%;
			height: 50%;
			margin-top: 8%;
			margin-left: 11%;
		}

		/*Cartas*/
		
		#cartas
		{
		
			float: top;
			width: 940px;
			height: 50%;
		}
		.dorsos
		{
			width: 140px;
			height: 140px;
			text-align: center;
			margin-bottom: 10px;
			margin-left: 10px;
			border-radius: 15px;
			outline: none;
		}


		

		